  body {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url(../images/首页bg.jpg);
  }

  /* 居中容器的样式，在我的网页中为半透明的容器*/
  .centered-div {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    padding: 20px;
    height: 650px;
    margin-bottom: 10px;
    text-align: center;
  }

  /* 头部样式 */
  header {
    padding: 0;
    background-image: url(../images/顶部照片.jpg);
    margin: -20px;
  }

  header img {
    /* 使用transform: scale()来缩放图片 */
    transform: scale(1);
    width: 1100px;
    height: 100px;
  }

  /* 导航菜单样式 */
  nav ul {
    list-style-type: none;
    /* 移除列表项前面的标记 */
    display: flex;
    /* 使用弹性盒模型布局 */
    justify-content: space-between;
    /* 使用space-between来平均分配间隙 */
    background-color: #cbdef3;
    margin-top: 0px;
    height: 50px;
  }

  nav ul li {
    position: relative;
    /* 设置相对定位，用于下拉菜单 */
    margin: 0 10px;
  }

  /* 导航区中每个链接文字的样式 */
  nav ul li a {
    text-decoration: none;
    color: #333;
    margin-right: 150px;
    padding: 10px;
    display: inline-block;
  }

  nav ul li a.active {
    font-weight: bold;
    /* 当前激活的链接文本加粗 */
  }

  /* 下拉菜单样式 */
  .dropdown-content {
    display: none;
    /* 默认隐藏下拉菜单内容 */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


  .title {
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(103, 165, 250);
  }

  /* 底部版权信息样式 */
  footer.copyright {
    background-color: #f8f9fa;
    padding: 5px 0;
    text-align: center;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  div#container_1 {
    height: 310px;
    border-top: 4px solid #0e89da;
    border-bottom: 4px solid #f4c877;
  }

  /* 上半部分个人照片图片 */
  div.myphoto {
    border: #d4e9f2;
    border-style: groove;
    border-width: 10px;
    float: left;
    margin: 10px;
    margin-left: 30px;
  }

  div.myphoto img {
    /* 使用transform: scale()来缩放图片 */
    transform: scale(1);
    /* 确保图片在缩放后仍然保持其原始宽高比 */
    transform-origin: top left;
    border: none;
    height: 290px;
  }


  .myphoto_1 img {
    /* 使用transform: scale()来缩放图片 */
    transform: scale(0.8);
    /* 确保图片在缩放后仍然保持其原始宽高比 */
    transform-origin: top left;
    border: #f9f9f9;
    border-style: dashed;
    border-width: 15px;
    margin-left: 45px;
    height: 300px;
  }

  /* 设置.welcome_1类的样式 */
#headerLogo {
    /* 使用transform: scale()来缩放图片 */
    transform: scale(0.6);
    /* 缩放图片到原始大小的60% */
    border: none;
    top: -50px;
    height: 200px;
    position: absolute;
    left: -80px;
    width: 700px;
  }

  /* 设置.welcome_2类的样式 */
#headerSlogan{
    /* 使用transform: scale()来缩放图片 */
    transform: scale(2);
    /* 放大图片到原始大小的两倍 */
    position: absolute;
    /* 绝对定位 */
    top: -40px;
    left: 1000px;
    width: 100px;
    height: 180px;

  }

.description{
  line-height: 2;
  text-align: left;
}

/* 表格样式 */  
#myintroduce {  
  width: 20%; /* 表格宽度设置为20% */  
  border-collapse: collapse; /* 合并相邻的边框 */   
  border: #f2fae0;
  margin-left: 48%;
} 


/* 表格单元格样式 */  
#myintroduce td {   
  padding: 5px; /* 设置内边距 */  
}  
#myintroduce tr{
  text-align: right; /* 文本左对齐 */  
  font-weight: bold;
}
